@font-face {font-family: 'iconfont';
    src: url('./font/iconfont.eot'); /* IE9*/
    src: url('./font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./font/iconfont.woff') format('woff'), /* chrome、firefox */
    url('./font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('./font/iconfont.svg#uxiconfont') format('svg'); /* iOS 4.1- */
}
html {
	-webkit-filter: grayscale(100%);
	filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
	filter: grayscale(100%);
}
body {
	background-color: #ffe;
	font-family: 'Century Gothic','Microsoft YaHei', Avenir,Verdana;
	/*cursor: pointer;*/
}
#content {
	width: 1110px;
	height: 625px;
	margin: 0 auto;
	margin-top: 6px;
	position: relative;
}

#music-control {
	position: absolute;
	top: 10px;
	right: 0;
	font-family:"iconfont";
	font-style:normal;
	font-size: 22px;
	z-index: 999;
	cursor: pointer;
}
#music-control.over {
	color: black;
}
#music-control.loading {
	color: #f07524;
}
#music-control.playing {
	color: green;
	cursor: pointer;
}
#music-control.stop {
	color: red;
}
#music {
	display: none;
}

#notes {
	float: left;
	margin-top: 120px;
	padding-right: 10px;
	width: 440px;
	min-height: 400px;
	font-size: 14px;
	line-height: 20px;
	box-sizing: border-box;
	color: #666;
}
#notes p {
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	text-indent: 2em;
}
#notes .wish {
	color: #d00;
}

#heart {
	float: left;
	position: relative;
	width: 670px;
	height: 625px;
}

#garden {
	width: 100%;
	height: 100%;
}

#words {
	position: absolute;
	top: 205px;
	left: 100px;
	font-size: 24px;
	color: #777;
	opacity: 0;
}

#time-count {
	margin-left: 80px;
	margin-top: 10px;
	font-size: 30px;
	color: #666;
}

#time-count span {
	font-size: 17px;
	color: #777;
}

#love-xiu {
	text-align: center;
	margin: 0 auto;
	margin-top: 20px;
}

#bunny {
	color: lightblue;
}
#sunny {
	color: #d00;
}

.heart-beat {
	/*-webkit-animation: heartbeat 1s infinite;
	-moz-animation: heartbeat 1s infinite;
	animation: heartbeat 1s infinite;*/
}

#heart-shape {
	font-size: 1.3px;
	margin: 4.5em 1em 3em;
	margin-top: 4.5em;
	width: 9em;
	height: 9em;
	content: '';
	position: relative;
	display: inline-block;
	background-color: pink;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
#heart-shape:before, #heart-shape:after {
	position: absolute;
	content: "";
	display: block;
	background-color: pink;
}

#heart-shape:before {
	width: 4.5em;
	height: 9em;
	right: 8.9em;
	border-radius: 4.5em 0 0 4.5em;
}
#heart-shape:after {
	width: 9em;
	height: 4.5em;
	top: -4.4em;
	border-radius: 4.5em 4.5em 0 0;
}

@-webkit-keyframes heartbeat {
    92% { -webkit-transform: rotate(45deg) scale(1, 1);}
    94% {  -webkit-transform: rotate(45deg) scale(1.2, 1.2); }
    96% {  -webkit-transform: rotate(45deg) scale(1, 1); }
    98% {  -webkit-transform: rotate(45deg) scale(1.1, 1.1); }
    100% { -webkit-transform: rotate(45deg) scale(1, 1);}
}


@-moz-keyframes heartbeat {
    92% { -moz-transform: rotate(45deg) scale(1, 1);}
    94% {  -moz-transform: rotate(45deg) scale(1.2, 1.2); }
    96% {  -moz-transform: rotate(45deg) scale(1, 1); }
    98% {  -moz-transform: rotate(45deg) scale(1.1, 1.1); }
    100% { -moz-transform: rotate(45deg) scale(1, 1);}
}

@keyframes heartbeat {
    92% { transform: rotate(45deg) scale(1, 1);}
    94% {  transform: rotate(45deg) scale(1.2, 1.2); }
    96% {  transform: rotate(45deg) scale(1, 1); }
    98% {  transform: rotate(45deg) scale(1.1, 1.1); }
    100% { transform: rotate(45deg) scale(1, 1);}
}
